<div class="w-full">
    <%= render partial: "layouts/page_head", locals: {title: "Admin Leagues", description: "Change or add leagues.", link_path: new_admin_league_path} %>
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Id</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Name</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Country</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Logo</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Flag</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Reference</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <% @leagues.each do |league| %>
                            <tr>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= league.id %></td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= link_to(league.name, admin_league_path(league.id), class:"underline hover:font-semibold") %></td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= league.country %></td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><img class="w-5" src="<%= league.logo %>" alt=""></td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><img class="w-5" src="<%= league.flag %>" alt=""></td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= league.reference %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>