<div class="flex flex-col items-center justify-center w-screen min-h-screen bg-white py-0">
    <h1>League: <%= @league.name %></h1>
    <table>
        <tr>
            <th>Seasons</th>
            <th>Refresh</th>
        </tr>
        <% @seasons.each do |season| %>
            <tr>
                <td><%= season.year %></td>
                <td>
                    <%= form_with url: admin_season_path(season.id), method: :patch do |f| %>
                        <%= f.hidden_field :type, value: 'async' %>
                        <%= f.submit "Schedule", class: button_primary_classes %>
                    <% end %>
                </td>
                <td>
                    <%= form_with url: admin_season_path(season.id), method: :patch do |f| %>
                        <%= f.hidden_field :type, value: 'sync' %>
                        <%= f.submit "Sync", class: button_primary_classes %>
                    <% end %>
                </td>
                <td>
                    <%= form_with url: admin_season_path(season.id), method: :patch do |f| %>
                        <%= f.hidden_field :type, value: 'close' %>
                        <% title = season.active ? "Close" : "Open" %>
                        <%= f.submit title, class: button_primary_classes %>
                    <% end %>
                </td>
            </tr>
        <% end %>
    </table>
</div>
