<div class="w-full">
    <% if @simulations.none? %>
        <div class="text-center">
            <svg class="mx-auto h-12 w-12 text-gray-400" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path vector-effect="non-scaling-stroke" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 13h6m-3-3v6m-9 1V7a2 2 0 012-2h6l2 2h6a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2z" />
            </svg>
            <h3 class="mt-2 text-sm font-semibold text-gray-900">No simulations</h3>
            <p class="mt-1 text-sm text-gray-500">Get started by creating a new simulation.</p>
            <div class="mt-6">
                <%= link_to "New simulation", new_simulation_path , class: button_class %>
            </div>
        </div>
    <% else %>
        <div class="py-4">
            <%= link_to "New simulation", new_simulation_path , class: button_class %>
        </div>
        <div>
            <table class="table-auto w-full">
                <thead>
                    <tr>
                        <th>Simulation</th>
                        <th>Name</th>
                        <th>Runs</th>
                        <th>Started</th>
                        <th>Finished</th>
                    </tr>
                </thead>
                <tbody>
                    <% @simulations.each do |simulation| %>
                        <tr>
                            <td><%= simulation.id %></td>
                            <td><%= link_to(simulation.name, simulation, class:"underline hover:font-semibold") %></td>
                            <td><%= simulation.runs %></td>
                            <td><%= simulation.start %></td>
                            <td><%= simulation.finish %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% end %>
</div>