<%= form_for @simulation do |f| %>
    <h1> <%= @simulation.season.league.name %>  <%= @simulation.season.year %> </h1>
    <%= f.hidden_field :season_id %>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :runs %>
    <%= f.number_field :runs %>

    <%= f.submit class: button_primary_classes %>

    <% @matches.each do |match| %>
        <div>
            <span><%= match.team_home.name%></span> 
            <span>
                <input type="radio" value="home" name="matches[<%=match.id%>]">
                <input type="radio" value="draw" name="matches[<%=match.id%>]">
                <input type="radio" value="away" name="matches[<%=match.id%>]">
            </span>
            <span><%= match.team_away.name%></span>
        </div>
    <% end %>
<% end %>
