<%
=begin%>
 <div class="bg-emerald-500 w-3 h-3 rounded-full"></div> 
<%
=end%>
<table>
    <thead>
        <tr>
            <th>Team</th>
            <th>Points</th>
            <th>Played</th>
            <th>Won</th>
            <th>Drawn</th>
            <th>Lost</th>
            <th>Goals For</th>
            <th>Goals Against</th>
            <th>Goal Difference</th>
        </tr>
    </thead>
    <tbody>
        <% @standings.each do |standing| %>
            <tr>
                <td><%= standing.team.name %></td>
                <td><%= standing.points %></td>
                <td><%= standing.matches %></td>
                <td><%= standing.wins %></td>
                <td><%= standing.draws %></td>
                <td><%= standing.losses %></td>
                <td><%= standing.goals_pro %></td>
                <td><%= standing.goals_against %></td>
                <td><%= standing.goals_pro - standing.goals_against %></td>
            </tr>
        <% end %>
    </tbody>
</table>