<div class="flex flex-col lg:items-center items-start w-screen min-h-screen bg-white py-0">
  <div class="flex flex-col">
    <div class="-my-2 sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8 max-md:block max-md:w-full max-md:min-w-0">
        <div class="shadow sm:rounded-lg overflow-x-auto max-md:-mx-4 max-md:px-4 max-md:w-full max-md:max-w-[100vw]">
          <table class="min-w-full text-sm text-gray-600 table-fixed max-md:min-w-[calc(2.25rem+12rem+<%= @positions_range.count %>*2.5rem)]">
            <colgroup>
              <col style="width: 2.25rem">
              <col>
              <% @positions_range.count.times { %><col style="width: 2.5rem"><% } %>
            </colgroup>
            <thead class="bg-gray-100 text-xs uppercase font-medium">
              <tr class="">
                <th class="w-9 pl-4 pr-2 py-2 text-left border-r border-gray-200 max-md:sticky max-md:left-0 max-md:z-20 position-ranking-sticky-header max-md:shadow-[2px_0_4px_rgba(0,0,0,0.06)]"></th>
                <th scope="col" class="px-4 py-2 text-left tracking-wider border-r border-gray-200 max-md:sticky max-md:left-[2.25rem] max-md:z-20 position-ranking-sticky-header max-md:min-w-[12rem] max-md:pr-4 max-md:shadow-[2px_0_4px_rgba(0,0,0,0.06)]">Club</th>
                <% @positions_range.each_with_index do |pos, pos_idx| %>
                  <th scope="col" class="w-10 px-2 py-2 text-center tracking-wider border-r border-gray-200 <%= pos_idx.zero? ? 'max-md:pl-3' : '' %>"><%= pos %></th>
                <% end %>
              </tr>
            </thead>
            <tbody class="bg-gray-100">
              <% @ranking.each_with_index do |row, i| %>
                <% row_bg = (i % 2).zero? ? "bg-white" : "bg-gray-100" %>
                <% sticky_col_class = (i % 2).zero? ? "position-ranking-sticky-col" : "position-ranking-sticky-col-alt" %>
                <tr class="<%= row_bg %>">
                  <td class="pl-4 pr-2 py-1.5 border-r border-gray-200 max-md:sticky max-md:left-0 max-md:z-10 <%= sticky_col_class %>"><%= i + 1 %></td>
                  <td class="flex px-4 py-1.5 whitespace-nowrap border-r border-gray-200 max-md:sticky max-md:left-[2.25rem] max-md:z-10 max-md:min-w-[12rem] max-md:pr-4 <%= sticky_col_class %> max-md:shadow-[2px_0_4px_rgba(0,0,0,0.06)]">
                    <img class="w-5 h-5 object-contain" src="<%= row[:team].logo %>" alt="">
                    <span class="ml-2 font-normal"><%= row[:team].name %></span>
                  </td>
                  <% @positions_range.each_with_index do |pos, pos_idx| %>
                    <td class="w-10 px-2 py-1.5 whitespace-nowrap text-center border-r border-gray-200 <%= pos_idx.zero? ? 'max-md:pl-3' : '' %>"><%= row[:counts][pos].positive? ? row[:counts][pos] : "" %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
