<h1> <%= "#{@season.league.name}/#{@season.year}: Simulation for #{@sim_standing.team.name}" %></h1>

<div class="w-full">
    <div class="mt-8 flow-root">
        <div class="-mx-4 -my-2 sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                <table class="min-w-full divide-y divide-gray-300">
                    <thead>
                        <tr>
                            <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Position</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Count</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Probability</th>
                            <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Running Total</th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <% running_total = 0.0 %>
                        <% @positions.each do |pos| %>
                            <% 
                                perc = (100.0 * pos.count) / @simulation.runs
                                running_total += perc
                                formatted_perc = "#{number_with_precision(perc, precision: 2)}%"
                                formatted_rt = "#{number_with_precision(running_total, precision: 2)}%"
                            %>
                            <tr>
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= pos.position %></td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= pos.count %></td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= formatted_perc %></td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= formatted_rt %></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>