<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>Soccer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= favicon_link_tag 'favicon.png' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-screen">
    <%=render "layouts/menu"%>
    <%=render "layouts/loading_indicator"%>
    <%=render "layouts/alert"%>
    <main class="container mx-auto mt-5 flex lg:mt-5 lg:pt-0 pt-16">
      <%= yield %>
    </main>
  </body>
</html>
